html, body {
    background-color: rgb(80, 80, 80);
}

.disable {
    color: rgb(117, 117, 117) !important;
}

.disable:hover {
    color: rgb(117, 117, 117) !important;
}

.disable:active {
    background-color: rgba(220, 220, 220, 0) !important;
}

button {
    color: rgb(6, 90, 130);
    background-color: rgba(102, 102, 102, 0);
}

button:hover {
    color: rgb(6, 187, 249);
}

input {
    background-color: rgb(102, 102, 102);
    color: rgb(172, 172, 172);
    border-color: rgb(117, 117, 117);
}

input:active {
    border-color: rgb(117, 117, 117);
}

.border-right {
    border-color: rgb(117, 117, 117);
}

.border-left {
    border-color: rgb(117, 117, 117);
}

.blur {
    color: rgba(117, 117, 117, 0) !important;
    text-shadow: 0 0 5px rgb(117, 117, 117) !important;
}

/*Style radio-buttons start*/
input[type='radio'] {
    border-color: rgba(0, 0, 0, 0.25);
}

input[type='radio']:checked::before {
    background-color: #191600;
}

/*Style radio-buttons end*/

/*Style checkbox-buttons start*/
input[type='checkbox'] {
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.172);
}

/*Style checkbox-buttons end*/

/*Dialog start*/
#dialog-container {
    background-color: rgba(0, 0, 0, 0.5);
}

#dialog {
    border-color: rgb(73, 73, 73);
    color: rgb(172, 172, 172);
    box-shadow: 1px 1px 2px rgb(73, 73, 73);
    background-color: rgb(112, 112, 112);
}

/*Dialog ende*/

/*Editor start*/
#editor {
    background-color: rgb(80, 80, 80);
}

#editor .text-normal {
    color: rgb(191, 191, 191) !important;
}

#editor.text-hidden {
    color: rgb(117, 117, 117) !important;
}

/*Editor ende*/

/*Menu Bottom start*/
#menu-bottom {
    color: rgb(172, 172, 172);
    border-color: rgb(117, 117, 117);
    background-color: rgb(80, 80, 80);
}

#menu-bottom .button {
    color: rgb(117, 117, 117);
}

#menu-bottom .button.inactive {
    color: rgb(117, 117, 117);
}

#menu-bottom .button.active {
    color: rgb(172, 172, 172);
}

#menu-bottom .button:hover {
    color: rgb(6, 187, 249);
}

/*Menu Bottom ende*/

/*Menu Left Start*/
#menu-left {
    color: rgb(117, 117, 117);
}

#menu-left hr {
    color: rgb(117, 117, 117);
    background-color: rgb(117, 117, 117);
}

#menu-left .button:hover {
    color: rgb(6, 187, 249)
}

#menu-left .active {
    color: rgb(172, 172, 172);
}

.submenu {
    background-color: rgb(102, 102, 102);
    border-color: rgb(73, 73, 73);
    color: rgb(172, 172, 172);
    box-shadow: 2px 2px 3px rgb(73, 73, 73);
}

.submenu li:hover {
    color: rgb(6, 187, 249);
}

.submenu li:active {
    background-color: rgb(230, 230, 230);
}

.arrow-left:after {
    border-color: rgba(102, 102, 102, 0);
    border-right-color: rgb(102, 102, 102);
}

.arrow-left:before {
    border-color: rgba(117, 117, 117, 0);
    border-right-color: rgb(117, 117, 117);
}

.arrow-top:after {
    border-color: rgba(102, 102, 102, 0);
    border-bottom-color: rgb(88, 88, 88);
}

.arrow-top:before {
    border-color: rgba(117, 117, 117, 0);
    border-bottom-color: rgb(117, 117, 117);
}

#documents-container .document {
    color: rgb(172, 172, 172);
}

#documents-container .document .icon {
    color: rgb(150, 150, 150);
}

#documents-container .document .icon:hover {
    color: rgb(6, 187, 249);
}

#documents-container .document:hover {
    color: rgb(6, 187, 249);
}

#document-details {
    border-color: rgb(117, 117, 117);
    background-color: rgb(88, 88, 88);
    color: rgb(201, 201, 201);
}

#button-close-document-details {
    color: rgb(117, 117, 117);
}

#button-close-document-details:hover {
    color: rgb(6, 187, 249);
}

#document-details-text-statistics {
    color: rgb(117, 117, 117);
}

/*Menu Left Ende*/

/*Menu Top Start*/
#menu-top {
    color: rgb(117, 117, 117);
}

#icon {
    color: rgb(0, 182, 249);
}

#documentname-container {
    color: rgb(117, 117, 117);
}

#edited-warning {
    color: rgb(117, 117, 117);
}

#menu-top .button:hover {
    color: rgb(6, 187, 249)
}

#menu-top .active {
    color: rgb(172, 172, 172);
}

/*Menu Top Ende*/

/*Preview Start*/
#html-preview-container {
    background-color: rgb(102, 102, 102);
    border: 1px solid rgb(73, 73, 73);
    box-shadow: 2px 2px 3px rgb(73, 73, 73);
    color: rgb(172, 172, 172);
}

#html-preview-container hr {
    color: rgb(117, 117, 117);
    background-color: rgb(117, 117, 117);
}

#html-preview-resize div {
    border-bottom: 1px solid rgb(73, 73, 73);
}

/*Preview Ende*/