#dialog-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
}

#dialog-container.show {
    visibility: visible;
}

#dialog-container.hide {
    visibility: hidden;
}

#dialog {
    padding: 10px;
    text-align: center;
    cursor: default;
    font-family: 'Cousine', monospace;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 10;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    width: 400px;
}

#input-filename {
    font-size: large;
    width: 90%;
    margin: 10px;
    padding: 5px 5px 3px 5px;
}

#fileUploadContainer{
    display: flex;
    flex-direction: row;
}

#upload-filename {
    font-size: large;
    flex: 1;
    margin: 10px 10px 10px 0;
    padding: 5px 5px 3px 5px;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1em;
}

#dialog button {
    font-size: large;
    padding-left: 5px;
}