#editor-container {
    position: relative;
    width: 68ex;
    display: flex;
    justify-content: center;
}

#editor {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    font-weight: normal;
    outline: none;
    line-height: 3ex;
    font-family: 'Cousine', monospace;
}

#editor .ace_scrollbar-v {
    position: fixed;
    right: 0;
    bottom: 2em !important;
    font-size: small;
}

#editor .scrollbar-hidden {
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    opacity: 0;
}

#editor .scrollbar-show {
    opacity: 1;
}