@import "fontello-embedded.css";

@font-face {
    font-family: 'Cousine';
    src: url('../font/Cousine-Regular.ttf') format('truetype');
    font-weight: normal;
}

body {
    background-color: rgb(240, 240, 240);
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 200;
    color: rgb(120, 120, 120);
    padding: 0;
    margin: 0;
    min-width: 1024px;
}

#background-image {
    background-image: url('../pictures/typewriter_big_gedreht.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-position: center -100px;
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px solid black;
    z-index: -1;
    min-width: 1024px;
}

.center {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.center-small {
    width: 635px;
    margin-left: auto;
    margin-right: auto;
}

.center-middle {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#main-content {
    height: 500px;
    text-align: center;
    padding: 20px 0 80px 0;
}

.content {
    text-align: center;
    margin: 50px 0 70px 0;
}

h1 {
    color: rgb(6, 187, 249);
    font-family: Cousine, monospace;
    font-size: 4.0em;
    margin-top: 1em;
    margin-bottom: 0;
    padding-bottom: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .6);
}


h2 {
    margin-top: -10px;
    margin-bottom: 20px;
    color: rgb(250, 250, 250);
    font-weight: 200;
    font-size: 1.5em;
    word-spacing: 0.3em;
    letter-spacing: 0.17em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
}

h3 {
    margin-bottom: 50px;
    color: rgb(50, 50, 50);
    font-size: 1.75em;
}

h3.development {
    margin-bottom: 0;
}

h3.development:after {
    content: 'Noch in der Entwicklung!';
    display: block;
    margin-bottom: 50px;
    font-size: .7em;
    font-weight: 200;
    color: rgba(6, 187, 249, .5);
}

.icon-dot-3 {
    font-size: 130%;
    color: rgb(255, 255, 255);
}

.icon-cloud-thunder {
    font-size: 600%;
    color: rgb(6, 187, 249);
}

.icon-doc-text {
    font-size: 630%;
    color: rgb(6, 187, 249);
}

.icon-monitor {
    font-size: 450%;
    color: rgb(6, 187, 249);
}

.icon-window {
    font-size: 450%;
    color: rgb(6, 187, 249);
}

.icon-docs {
    font-size: 450%;
    color: rgb(6, 187, 249);
}

.icon-dropbox {
    font-size: 450%;
    color: rgb(6, 187, 249);
}

.icon-right {
    font-size: 300%;
    color: rgb(6, 187, 249);
}

#example-easy {
    border: 1px solid #FFF;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .4);
    height: 180px;
    padding: 5px;
}

#example-typing {
    height: 180px;
    border: 1px solid #FFF;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .4);
    padding: 5px;
}

#example-preview {
    height: 180px;
    border: 1px solid #FFF;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .4);
    padding: 5px;
}

p {
    font-weight: 100;
    font-size: 100%;
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

a.button {
    position: absolute;
    top: 560px;
    left: 50%;
    margin-left: -175px;
    background-color: rgba(6, 187, 249, 0.7);
    color: rgb(255, 255, 255);
    font-size: 200%;
    width: 320px;
    padding: 15px 25px 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0 -34px 34px rgba(26, 157, 219, 0.7) inset;
    text-shadow: 0 1px 1px rgb(6, 137, 200);
}

a.button:hover {
    background-color: rgb(26, 157, 219);
    box-shadow: 0 -34px 34px rgb(26, 157, 219) inset;
}

i {
    font-size: 250%;
    color: rgba(200, 200, 200, 0.4);
}

hr {
    margin: 0;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(150, 150, 150, 0) 0%, rgba(150, 150, 150, 0.75) 5%, rgba(150, 150, 150, 0.75) 95%, rgba(150, 150, 150, 0) 100%);
    background-image: -moz-linear-gradient(left, rgba(150, 150, 150, 0) 0%, rgba(150, 150, 150, 0.75) 5%, rgba(150, 150, 150, 0.75) 95%, rgba(150, 150, 150, 0) 100%);
    background-image: -ms-linear-gradient(left, rgba(150, 150, 150, 0) 0%, rgba(150, 150, 150, 0.75) 5%, rgba(150, 150, 150, 0.75) 95%, rgba(150, 150, 150, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(150, 150, 150, 0) 0%, rgba(150, 150, 150, 0.75) 5%, rgba(150, 150, 150, 0.75) 95%, rgba(150, 150, 150, 0) 100%);
    background-image: linear-gradient(left, rgba(150, 150, 150, 0) 0%, rgba(150, 150, 150, 0.75) 5%, rgba(150, 150, 150, 0.75) 95%, rgba(150, 150, 150, 0) 100%);
}

#header {
    background-color: rgb(6, 177, 239);
    height: 30px;
    border-bottom: 1px solid rgb(26, 157, 219);
    color: rgb(255, 255, 255);
    box-shadow: 1px -17px 17px rgb(26, 157, 219) inset;
    padding-top: 10px;
}

#footer {
    font-size: small;
    padding-top: 10px;
    height: 90px;
    background-color: rgb(110, 110, 110);
    border-top: 1px solid rgb(90, 90, 90);
    color: rgb(255, 255, 255);
    box-shadow: 0 16px 26px rgb(80, 80, 80) inset;
    line-height: 1.0em;
    min-width: 1024px;
}

#footer a {
    color: rgb(255, 255, 255);
}

#dart-logo{
    height: 22px;
}

#html5-logo{
    height: 90px;
}

.inline {
    display: inline-block;
    margin-right: 20px;
}

.inline b {
    font-weight: 100;
    font-size: 1.5em;
    line-height: 1.5em;
}

#logo {
    font-family: Cousine, monospace;
}

#logo:after {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: .7em;
    content: 'Alpha';
    position: relative;
    top: .5em;
}

#footer .tiny {
    font-size: 0.8em;
}

.left-right-container {
    text-align: left;
}

.right {
    float: right;
    padding-left: 10px;
}

.left {
    padding-right: 10px;
}

.browser {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url(../pictures/onetwowrite-sprite.png);
    margin-top: 10px;
}

.browser:hover:before{
    font-size: small;
    text-align: left;
    position: relative;
    left: 15px;
    top:40px;
    float: left;
}

.browser-unsupported {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url(../pictures/onetwowrite-sprite-grey.png);
    margin-top: 10px;
}

.browser-unsupported:hover:before{
    font-size: small;
    text-align: left;
    position: relative;
    left: 15px;
    top:40px;
    float: left;
}

#chrome {
    background-position: 0 -100px;
}

#chrome:hover:before {
    content:"Chrome ab Version 35";
    width:200px;
}

#firefox {
    background-position: -40px -100px;
}

#firefox:hover:before {
    content: "Firefox ab Version 30.";
    width:120px;
}

#ie {
    background-position: -80px -100px;
}

#ie:hover:before {
    content:"IE wird noch nicht unterstützt.";
    width:100px;
}

#opera {
    background-position: -120px -100px;
}

#opera:hover:before {
    content: "Opera ab Version 21";
    width: 200px;
}

#safari {
    background-position: -160px -100px;
}

#safari:hover:before {
    content:"Safari wird noch nicht unterstützt.";
    width:120px;
}

#loader {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    text-align: center;
    font-size: 100%;
    color: rgb(190, 190, 190);
}

#loader i {
    font-size: 300%;
    width: 1em;
    height: 1em;
}

#loader i::before {
    margin: 0;
}