html, body {
    background-color: rgb(241, 241, 241);
}

.disable {
    color: rgb(220, 220, 220) !important;
}

.disable:hover {
    color: rgb(220, 220, 220) !important;
}

.disable:active {
    background-color: rgba(220, 220, 220, 0) !important;
}

button {
    color: rgb(6, 187, 249);
    background-color: rgba(255, 255, 255, 0);
}

button:hover {
    color: rgb(5, 131, 173);
}

input {
    background-color: rgb(255, 255, 255);
    color: rgb(95, 95, 95);
    border-color: rgb(200, 200, 200);
}

input:active {
    border-color: rgb(200, 200, 200);
}

.border-right {
    border-color: rgb(200, 200, 200);
}

.border-left {
    border-color: rgb(200, 200, 200);
}

.blur {
    color: rgba(200, 200, 200, 0) !important;
    text-shadow: 0 0 5px rgb(200, 200, 200) !important;
}

/*Style radio-buttons start*/
input[type='radio'] {
    border-color: rgba(0, 0, 0, 0.25);
}

input[type='radio']:checked::before {
    background-color: #666;
}

/*Style radio-buttons end*/

/*Style checkbox-buttons start*/
input[type='checkbox'] {
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.95);
}

/*Style checkbox-buttons end*/

/*Dialog start*/
#dialog-container {
    background-color: rgba(0, 0, 0, 0.4);
}

#dialog {
    border-color: rgb(200, 200, 200);
    color: rgb(95, 95, 95);
    box-shadow: 1px 1px 2px rgb(200, 200, 200);
    background-color: rgb(250, 250, 250);
}

#dialog button {
    background-color: rgb(250, 250, 250);
}

/*Dialog ende*/

/*Editor start*/
#editor {
    background-color: rgb(241, 241, 241);
}

#editor .text-normal {
    color: rgb(66, 66, 66) !important;
}

#editor.text-hidden {
    color: rgb(200, 200, 200) !important;
}

/*Editor ende*/

/*Menu Bottom start*/
#menu-bottom {
    color: rgb(95, 95, 95);
    border-color: rgb(200, 200, 200);
    background-color: rgb(241, 241, 241);
}

#menu-bottom .button {
    color: rgb(200, 200, 200);
}

#menu-bottom .button.inactive {
    color: rgb(200, 200, 200);
}

#menu-bottom .button.active {
    color: rgb(95, 95, 95);
}

#menu-bottom .button:hover {
    color: rgb(6, 187, 249);
}

/*Menu Bottom ende*/

/*Menu Left Start*/
#menu-left {
    color: rgb(200, 200, 200);
}

#menu-left hr {
    color: rgb(200, 200, 200);
    background-color: rgb(200, 200, 200);
}

#menu-left .button:hover {
    color: rgb(6, 187, 249)
}

#menu-left .active {
    color: rgb(95, 95, 95);
}

.submenu {
    background-color: rgb(255, 255, 255);
    border-color: rgb(200, 200, 200);
    color: rgb(95, 95, 95);
    box-shadow: 2px 2px 3px rgb(200, 200, 200);
}

.submenu li:hover {
    color: rgb(6, 187, 249);
}

.submenu li:active {
    background-color: rgb(230, 230, 230);
}

.arrow-left:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: rgb(255, 255, 255);
}

.arrow-left:before {
    border-color: rgba(200, 200, 200, 0);
    border-right-color: rgb(200, 200, 200);
}

.arrow-top:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgb(245, 245, 245);
}

.arrow-top:before {
    border-color: rgba(200, 200, 200, 0);
    border-bottom-color: rgb(200, 200, 200);
}

#documents-container .document {
    color: rgb(95, 95, 95);
}

#documents-container .document .icon {
    color: rgb(150, 150, 150);
}

#documents-container .document .icon:hover {
    color: rgb(6, 187, 249);
}

#documents-container .document:hover {
    color: rgb(6, 187, 249);
}

#document-details {
    border-color: rgb(200, 200, 200);
    background-color: rgb(245, 245, 245);
    color: rgb(90, 90, 90);
}

#button-close-document-details {
    color: rgb(200, 200, 200);
}

#button-close-document-details:hover {
    color: rgb(6, 187, 249);
}

#document-details-text-statistics {
    color: rgb(200, 200, 200);
}

/*Menu Left Ende*/

/*Menu Top Start*/
#menu-top {
    color: rgb(200, 200, 200);
}

#icon {
    color: rgb(0, 182, 249);
}

#documentname-container {
    color: rgb(90, 90, 90);
}

#edited-warning {
    color: rgb(200, 200, 200);
}

#menu-top .button:hover {
    color: rgb(6, 187, 249)
}

#menu-top .active {
    color: rgb(95, 95, 95);
}

/*Menu Top Ende*/

/*Preview Start*/
#html-preview-container {
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 2px 2px 3px rgb(200, 200, 200);
    color: rgb(95, 95, 95);
}

#html-preview-container hr {
    color: rgb(200, 200, 200);
    background-color: rgb(200, 200, 200);
}

#html-preview-resize div {
    border-bottom: 1px solid rgb(190, 190, 190);
}

/*Preview Ende*/