#menu-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 5px;
    height: 2em;
    text-align: center;
    cursor: default;
}

#icon {
    position: fixed;
    padding-top: 4px;
    padding-left: 5px;
    width: 100px;
    cursor: pointer;
    text-decoration: none;
}

#documentname-container {
    text-align: center;
    flex: 1;
    cursor: default;
    padding-top: 3px;
}

#edited-warning {
    font-size: small;
}

#button-resize {
    font-size: 150%;
    margin-right: 25px;
}

#button-resize:before {
    margin-top: 0.2em;
}

#menu-top .button:hover {
    transition: color 0.5s;
}

#feedback {
    position: relative;
    top: -10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 3px 3px 3px;
    text-decoration: none;
    text-align: center;
    font-size: 90%;
    width: 150px;
    height: 30px;
    z-index: 2;
}

#feedback span {
    color: rgb(150, 150, 150);
}

#feedback i {
    color: rgb(255, 255, 255);
    font-size: x-small;
    display: none;
}

#feedback:hover {
    background-color: rgba(6, 187, 249);
    box-shadow: 0 -34px 34px rgba(26, 157, 219, 0.7) inset;
    text-shadow: 0 1px 1px rgb(6, 137, 200);
}

#feedback:hover span {
    color: rgb(255, 255, 255);
}

#feedback:hover i {
    display: inline;
}