#menu-left {
    text-align: center;
    cursor: default;
    display: flex;
    flex-direction: column;
    position: relative;
}

#menu-left hr {
    border: 0;
    height: 1px;
}

#button-menu-documents {
    font-size: 180%;
}

#button-menu-search {
    font-size: 150%;
}

#button-menu-settings {
    font-size: 150%;
}

#button-menu-help {
    font-size: 150%;
}

#menu-left .button:before {
    height: 31px;
}

#menu-left .button:hover {
    transition: color 0.5s;
}

#menu-documents {
    position: absolute;
    width: 270px;
    left: 40px;
    top: -4px;
}

#menu-documents.arrow-left:after, #menu-documents.arrow-left:before {
    position: absolute;
    right: 100%;
    top: 17px;
}

#menu-documents-container {
    position: absolute;
    left: 330px;
    top: 93px;
    min-height: 100px;
}

#menu-documents-container.arrow-left:after, #menu-documents-container.arrow-left:before {
    position: absolute;
    right: 100%;
    top: 17px;
}

.submenu {
    border: 1px solid;
    border-radius: 4px;
    z-index: 10;
    text-align: left;
    padding: 5px;
}

.submenu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.submenu li {
    padding-top: 1px;
    padding-bottom: 1px;
}

.submenu li:hover {
    transition: color 0.5s;
}

.arrow-left:after, .arrow-left:before {
    border: solid transparent;
    content: " ";
    pointer-events: none;
}

.arrow-left:after {
    border-width: 7px;
    margin-top: -7px;
}

.arrow-left:before {
    border-width: 8px;
    margin-top: -8px;
}

.arrow-top:after, .arrow-top:before {
    border: solid transparent;
    content: " ";
    font-size: 0;
    pointer-events: none;
}

.arrow-top:after {
    border-width: 7px;
    margin-left: -7px;
}

.arrow-top:before {
    border-width: 8px;
    margin-left: -3px;
}

#documents-container .document {
    width: 70px;
    margin: 5px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    font-size: small;
    cursor: pointer;
    overflow: hidden;
}

#documents-container .document .icon {
    font-size: 290%;
}

#documents-container .document .icon:hover {
    transition: color 0.5s;
}

#documents-container .document .icon:before {
    line-height: 0 !important;
    margin: 0 !important;
}

#documents-container .document:hover {
    transition: color 0.5s;
}

#document-details hr {
    margin-top: 0;
}

#document-details .arrow-top {
    position: absolute;
    top: -21px;
}

#document-details .arrow-top:after, #document-details .arrow-top:before {
    position: relative;
}

#document-details .arrow-top:after {
    top: 1px;
    left: -8px;
}

#document-details .arrow-top:before {
    top: 0;
}

#document-details {
    border-bottom: solid 1px;
    border-top: solid 1px;
    padding: 5px;
    margin-top: 3px;
    margin-left: -5px;
    width: 100%;
    position: relative;
}

#document-details-header {
    margin-top: 0.5em;
    margin-left: 6px;
}

#document-details-text-statistics {
    font-size: small;
    padding-left: 6px;
}

#preview-container {
    width: 100%;
    position: relative;
    height: 6.5em;
    margin-left: 10px;
    margin-top: 5px;
}

#preview {
    font-size: x-small;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
}

#preview .ace_cursor {
    display: none;
}

#preview .ace_scrollbar {
    display: none;
}

#documents-container button {
    font-size: medium;
}

#menu-search {
    position: absolute;
    width: 16em;
    padding: 5px 10px 5px 7px;
    left: 40px;
    top: 23px;
}

#menu-search.arrow-left:after, #menu-search.arrow-left:before {
    position: absolute;
    right: 100%;
    top: 17px;
}

.search-menu-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1em;
}

#menu-search button {
    margin: 0;
    padding: 0;
    font-size: small;
}

#menu-search button i {
    font-size: 180%;
}

#menu-search button i:before {
    margin-left: -0.2em;
}

.search-input-field {
    width: 98%;
    padding: 5px 0 3px 5px;
    font-size: medium;
}

#button-replace-all {
    padding-left: 1.0em !important;
}

#checkbox-replace-caption {
    font-size: small;
}

#menu-settings {
    width: 680px;
    position: absolute;
    font-size: small;
    left: 40px;
    top: -4px;
}

#menu-settings p {
    padding-left: 10px;
}

#menu-settings.arrow-left:after, #menu-settings.arrow-left:before {
    position: absolute;
    right: 100%;
    top: 79px;
}

#menu-help {
    position: absolute;
    width: 680px;
    left: 40px;
    top: -4px;
}

#menu-help.arrow-left:after, #menu-help.arrow-left:before {
    position: absolute;
    right: 100%;
    top: 110px;
}

/*Anordnung div als Tabelle start*/
.table {
    display: table;
    width: 100%;
}

.table div {
    display: table-row;
}

.table div div {
    display: table-cell;
    padding: 5px 0px 10px 5px
}

.table div div:nth-child(odd) {
    text-align: right;
    font-weight: bold;
}

/*Anordnung div als Tabelle end*/
