#menu-bottom {
    font-size: small;
    border-top: solid 1px;
    cursor: default;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 2em;
}

#menu-bottom ul {
    margin: 0px;
    padding: 0px
}

#menu-bottom li {
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 5px;
    list-style-type: none;
}

#menu-bottom .button {
    display: inline-block;
    list-style-type: none;
}

#menu-bottom .button:hover {
    transition: color 0.5s;
}