@import "fontello-embedded.css";
@import "menu-bottom.css";
@import "menu-top.css";
@import "menu-left.css";
@import "editor.css";
@import "dialog.css";
@import "preview.css";

/*
    Created on : 25.12.2013, 18:43:42
    Author     : lars-wolfram
*/
@font-face {
    font-family: 'Cousine';
    src: url('../font/Cousine-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Cousine';
    src: url('../font/Cousine-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Cousine';
    src: url('../font/Cousine-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cousine';
    src: url('../font/Cousine-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Cousine', monospace;
    overflow: hidden;
}

#content {
    min-width: 750px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#middle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
}

#main {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hidden {
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    opacity: 0;
}

.visible {
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    opacity: 1;
}

input, button {
    outline: none;
}

button {
    font-family: 'Cousine', monospace;
    border: 0;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    transition: color 0.5s;
}

button.default {
    font-weight: bold;
}

input {
    font-family: 'Cousine', monospace;
    border: 1px solid;
    border-radius: 3px;
    text-decoration: none;
}

input:focus {
    outline-width: 0;
}

hr {
    pointer-events: none;
}

.border-right {
    border-right: solid 1px;
}

.border-left {
    border-left: solid 1px;
}

.display-none {
    display: none;
}

.stretcher {
    flex: 1;
}

/*Style radio-buttons start*/
input[type='radio'] {
    border-radius: 100%;
    bottom: 3px;
    height: 15px;
    position: relative;
    vertical-align: middle;
    width: 15px;
    border: 1px solid;
}

input[type='radio']:checked::before {
    border-radius: 100%;
    content: '';
    display: block;
    position: absolute;
}

/*Style radio-buttons end*/

/*Style checkbox-buttons start*/
input[type='checkbox'] {
    bottom: 1px;
    height: 13px;
    position: relative;
    vertical-align: middle;
    width: 13px;
}

/*Style checkbox-buttons end*/

iframe[seamless] {
    background-color: transparent;
    border: 0 none transparent;
    padding: 0;
    overflow: hidden;
}

h1 {
    margin: 3px 0px 3px 0px;
}

h3 {
    margin: 13px 0px 3px 0px;
}

#loader {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    text-align: center;
    font-size: 100%;
    color: rgb(190, 190, 190);
}

#loader i {
    font-size: 300%;
    width: 1em;
    height: 1em;
}

#loader i::before {
    margin: 0;
}

.button-close {
    float: right;
    font-size: medium;
    color: rgb(200, 200, 200);
}

.button-close:hover {
    transition: color 0.5s;
}