#html-preview-container {
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 5;
    border-radius: 5px;
}

#html-preview-container hr {
    border: 0;
    height: 1px;
    margin: 0;
}

#html-preview-container-heading {
    margin: 0;
    height: 25px;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    cursor: move;
}

#html-preview {
    position: absolute;
    top: 26px;
    left: 5px;
    bottom: 0px;
    right: 0px;
    font-family: Georgia;
    font-size: small;
    overflow: auto;
    padding-right: 5px;
}

#html-preview-resize {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    cursor: nwse-resize;
}

