/*
    Created on : 25.12.2013, 18:43:42
    Author     : lars-wolfram
*/
@font-face {
    font-family: 'Cousine';
    src: url('../font/Cousine-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Cousine';
    src: url('../font/Cousine-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Cousine';
    src: url('../font/Cousine-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cousine';
    src: url('../font/Cousine-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: 'Cousine', monospace;
    color: rgb(95, 95, 95);
    font-size: small;
}

pre {
    border: 1px solid rgb(200, 200, 200);
    margin: 5px 10px 5px 7px;
    padding: 10px 0px 10px 0px;
    background-color: rgb(240, 240, 240);
}

p {
    margin-left: 5px;
    margin-right: 5px;
}

p code {
    border: 1px solid rgb(200, 200, 200);
    background-color: rgb(240, 240, 240);
    padding: 2px 2px 2px 2px;
}

code {
    color: cornflowerblue;
}

hr {
    border: 0;
    color: rgb(200, 200, 200);
    background-color: rgb(200, 200, 200);
    height: 1px;
    margin-right: 5px;
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: large;
}