<!DOCTYPE html>
<html> <!--manifest="offline.manifest"-->
<head>
    <meta charset="utf-8">
    <title>OneTwoWrite</title>
    <link rel="stylesheet" href="src/css/onetwowrite.css">
    <link rel="stylesheet" href="src/css/animation.css">
    <link theme rel="stylesheet" href="src/css/light.css">
    <script type="text/javascript">
        <!--
        function waitForPageLoad() {
            if (document.readyState != "complete") {
                window.setTimeout(WaitForPageLoad, 100);
                return false;
            } else {
                document.querySelector('#content').style.visibility = "visible";
                document.querySelector('#loader').style.visibility = "hidden";
            }
        }

        var jshelper = function () {
            this.requestFullscreen = function () {
                var docElm = document.querySelector('html');
                if (docElm.requestFullscreen) {
                    docElm.requestFullscreen();
                }
                else if (docElm.mozRequestFullScreen) {
                    docElm.mozRequestFullScreen();
                }
                else if (docElm.webkitRequestFullScreen) {
                    docElm.webkitRequestFullScreen();
                }
                else if (docElm.msRequestFullscreen) {
                    docElm.msRequestFullscreen();
                }
            };
            this.exitFullscreen = function () {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                }
                else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                }
                else if (document.webkitCancelFullScreen) {
                    document.webkitCancelFullScreen();
                }
                else if (document.msExitFullscreen) {
                    document.msExitFullscreen();
                }
            };
        };
        -->
    </script>
</head>
<body onload="waitForPageLoad()">
<div id="loader">
    <p>Loading...</p>
    <i class="icon-spin3 animate-spin"></i>
</div>
<div id=content style="visibility: hidden">
<div id="dialog-container" class="hide">
    <div id="dialog" class="hide"></div>
</div>
<a id="icon" class="visible" href="./index.html">OneTwoWrite</a>

<div id="menu-top" class="visible">
    <div id="documentname-container">
    -<span id="documentname"></span>-
        <div id="edited-warning" class="display-none">Edited</div>
    </div>
    <a id="feedback" class="visible" href="mailto:feedback@onetwowrite.de?subject=Feedback"><span
            i18n="{{feedbackCaption}}">Send Feedback</span><br><i>feedback@onetwowrite.de</i></a>

    <div>
        <i id="button-resize" class="button icon-resize-full"></i>
    </div>
</div>
<div id="middle">
    <nav id="menu-left" class="visible">
        <div>
            <i id="button-menu-documents" class="button icon-menu"></i>
        </div>
        <div>
            <i id="button-menu-search" class="button icon-search-1"></i>
        </div>
        <div>
            <i id="button-menu-settings" class="button icon-cog"></i>
        </div>
        <div>
            <i id="button-menu-help" class="button icon-help"></i>
        </div>
        <div id="menu-documents" class="display-none submenu arrow-left">
            <ul>
                <li id="button-new" i18n="{{newButtonCaption}}">New<span class="right">Ctrl Alt N</span></li>
                <li id="button-save" i18n="{{saveButtonCaption}}">Save<span
                        class="right">Ctrl Alt S</span>
                </li>
                <li id="button-save-as" class="display-none" i18n="{{saveAsButtonCaption}}">Save...<span
                        class="right">Ctrl Alt S</span>
                </li>
                <li id="button-copy" i18n="{{copyButtonCaption}}">Copy...<span class="right">Ctrl Alt C</span></li>
                <li id="button-delete" i18n="{{deleteButtonCaption}}">Delete...<span class="right">Ctrl Alt
              R</span></li>
                <li>
                    <hr/>
                </li>
                <li id="button-menu-documents-container" class="button" i18n="{{documentsButtonCaption}}">
                    Documents<i
                        class="right icon-right-dir"></i></li>
                <li>
                    <hr/>
                </li>
                <li id="button-export-md" i18n="{{exportMdButtonCaption}}">Export MD</li>
                <li id="button-export-pdf" i18n="{{exportPdfButtonCaption}}">Export PDF (Pre-alpha)</li>
                <li id="button-export-html" i18n="{{exportHtmlButtonCaption}}">Export HTML</li>
                <li>
                    <hr/>
                </li>
                <li id="button-import" i18n="{{importButtonCaption}}">Import...</li>
            </ul>
        </div>
        <div id="menu-documents-container"
             class="display-none submenu arrow-left">
            <div id="documents-container"></div>
        </div>
        <div id="menu-search" class="display-none submenu arrow-left">
            <input id="input-search" class="search-input-field" i18n-placeholder="{{searchInputField}}"
                   placeholder="Search...">

            <div class="search-menu-buttons-container">
                <button id="button-search-previous">
                    <i class="icon-left-dir"></i>
                </button>
                <button id="button-search-next">
                    <i class="icon-right-dir"></i>
                </button>
                <span class="stretcher"></span>
                <input type="checkbox" id="checkbox-replace" name="replace">
                <label id="checkbox-replace-caption" class="checkbox-label" for="checkbox-replace"
                       i18n="{{replaceCheckBox}}">Replace</label>
            </div>
            <div id="replace-container" class="display-none">
                <input id="input-replace" class="search-input-field" i18n-placeholder="{{replaceInputField}}"
                       placeholder="Replace...">

                <div class="search-menu-buttons-container">
                    <button id="button-replace" i18n="{{replaceButton}}">
                        Replace
                    </button>
                    <button id="button-replace-all" i18n="{{replaceAllButton}}">
                        Replace All
                    </button>
                    <span class="stretcher"></span>
                </div>
            </div>
        </div>
        <div id="menu-settings" class="display-none submenu arrow-left">
            <h1 i18n="{{settingsCaption}}">Settings</h1>
            <hr>
            <h3 i18n="{{settingsFontsCaption}}">Fonts</h3>

            <p i18n="{{settingsFontsDescription}}">

            </p>

            <p class="settings-menu-font-size-buttons-container">
                <input id="font-size-button-auto" type="radio" name="font-size" value="auto">
                <label class="radio-label" for="font-size-button-auto" i18n="{{settingsFontsAuto}}">Auto</label>
                <input id="font-size-button-small" type="radio" name="font-size" value="small">
                <label class="radio-label" for="font-size-button-small" i18n="{{settingsFontsSmall}}">Small</label>
                <input id="font-size-button-medium" type="radio" name="font-size" value="medium">
                <label class="radio-label" for="font-size-button-medium" i18n="{{settingsFontsMedium}}">Medium</label>
                <input id="font-size-button-large" type="radio" name="font-size" value="large">
                <label class="radio-label" for="font-size-button-large" i18n="{{settingsFontsLarge}}">Large</label>
            </p>
            <hr>
            <h3 i18n="{{settingsAutoSave}}">Save</h3>

            <p i18n="{{settingsAutoSaveDescription}}">
            </p>

            <p>
                <input id="auto-save-button-on" type="radio" name="auto-safe" value="On">
                <label class="radio-label" for="auto-save-button-on" i18n="{{settingsAutoSaveOn}}">On</label>
                <input id="auto-save-button-off" type="radio" name="auto-safe" value="Off">
                <label class="radio-label" for="auto-save-button-off" i18n="{{settingsAutoSaveOff}}">Off</label>
            </p>
            <hr>
            <h3 i18n="{{settingsPreview}}">Preview</h3>

            <p i18n="{{settingsPreviewDescription}}">
            </p>

            <p>
                <input id="preview-button-on" type="radio" name="preview" value="On">
                <label class="radio-label" for="preview-button-on" i18n="{{settingsPreviewOn}}">On</label>
                <input id="preview-button-off" type="radio" name="preview" value="Off">
                <label class="radio-label" for="preview-button-off" i18n="{{settingsPreviewOff}}">Off</label>
            </p>
            <hr>
            <h3 i18n="{{settingsTheme}}">Theme</h3>

            <p i18n="{{settingsThemeDescription}}">
            </p>

            <p>
                <input id="light-theme-button" type="radio" name="theme" value="Light">
                <label class="radio-label" for="light-theme-button" i18n="{{settingsThemeLight}}">Light</label>
                <input id="dark-theme-button" type="radio" name="theme" value="Dark">
                <label class="radio-label" for="dark-theme-button" i18n="{{settingsThemeDark}}">Dark</label>
            </p>
        </div>
        <div id="menu-help" class="display-none submenu arrow-left">
            <iframe seamless src="MarkdownSyntaxGuide.html" width="100%" height="100%" name="test">
                <p>Ihr Browser kann leider keine eingebetteten Frames anzeigen:
                    Sie k&ouml;nnen die eingebettete Seite &uuml;ber den folgenden Verweis
                    aufrufen: <a href="MarkdownSyntaxGuide.html">Markdown Syntax Guide</a></p>
            </iframe>
        </div>
    </nav>
    <div id="main">
        <div id="editor-container">
            <div id="editor" class="text-normal"></div>
        </div>
        <div id="html-preview-container" class="display-none">
            <div>
                <button id="button-close-preview" class="button-close">×</button>
                <div id="html-preview-container-heading" i18n="{{previewCaption}}">Preview</div>
            </div>
            <hr style="clear: both">
            <div id="html-preview"></div>
            <div id="html-preview-resize">
                <div style="width: 10px; height: 10px; transform: rotate(-45deg); -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); position: absolute; top: -2px;left: -2px;"></div>
                <div style="width: 17px; height: 17px; transform: rotate(-45deg); -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); position: absolute;top: -10px;left: -10px;"></div>
            </div>
        </div>
    </div>
</div>
<nav id="menu-bottom" class="visible">
    <ul>
        <li id="button-focus" class="border-right button inactive"
            style="width: 90px " i18n="{{focusButton}}">Focus Off
        </li>
        <li id="button-header"
            class="button inactive line-formatting formatting" i18n="{{headerButton}}">Header
        </li>
        <li id="button-ordered-list"
            class="button inactive line-formatting formatting" i18n="{{orderedListButton}}">1.List
        </li>
        <li id="button-unordered-list"
            class="button inactive line-formatting formatting" i18n="{{unorderedListButton}}">&#183;List
        </li>
        <li><i id="button-blockquote"
               class="button inactive line-formatting formatting icon-quote"></i></li>
        <li id="button-bold"
            class="button inactive inline-formatting formatting"
            style="font-weight: bold;" i18n="{{boldButton}}">B
        </li>
        <li id="button-italic"
            class="button inactive inline-formatting formatting"
            style="font-style: italic;" i18n="{{italicButton}}">I
        </li>
        <li id="button-strike"
            class="button inactive inline-formatting formatting"
            style="text-decoration: line-through;" i18n="{{strikeButton}}">S
        </li>
    </ul>
    <span class="stretcher"></span>
    <ul>
        <li id="menu-words" class="border-left"><span id="words-value">0</span><span id="words-phrase"></span>
        </li>
        <li id="menu-characters" class="border-left"><span id="characters-value">0</span><span
                id="characters-phrase"></span></li>
        <li id="menu-reading-time" class="border-left"><span id="reading-time-phrase"></span>
            <span id="reading-time-value">00:00:00</span></li>
    </ul>
</nav>
</div>
<script type="text/javascript" src="src/js/ace/ace.js"></script>
<script type="text/javascript" src="src/js/jspdf/jspdf.js"></script>
<script type="text/javascript" src="src/js/jspdf/jspdf.plugin.standard_fonts_metrics.js"></script>
<script type="text/javascript" src="src/js/jspdf/jspdf.plugin.split_text_to_size.js"></script>
<script type="text/javascript" src="src/js/jspdf/jspdf.plugin.from_html.js"></script>
<script type="application/dart" src="src/dart/main.dart"></script>
</body>
</html>
